body {
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    align-items: center;
    color: white;
    background-image: url(./img/psg1.jpg), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    height: 85vh;
    margin-bottom: 1.5rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header h1 {
    font-weight: 500;
    padding-top: 12rem;
    font-weight: 700;
    color: rgb(207, 102, 10);
    text-transform: uppercase;
    text-shadow: 2, 2, 2, 0.6, ;
}

header h1:hover {
    text-decoration: underline;
    transition: 0.5;
}

.card img {
    height: 15rem;
    width: 100%;
}

.players {
    height: 78vh;
}